<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Coffee_css/main_coffee.css">
    <link rel="stylesheet" href="../content/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../css/face.css/main.css">
    <link rel="stylesheet" href="../css/restaurant.css/main_restaurant.css">
    <link href="//bizweb.dktcdn.net/100/393/360/themes/773165/assets/bootstrap_css.scss.css?1615609308223"
        rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/Bar_css/product.css">
    <link rel="stylesheet" href="../css/Coffee_css/product.css">
    <link rel="stylesheet" href="../css/restaurant.css/product-drink.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Sky Coffee</title>


    <title>Document</title>
</head>

<body>

    {{{body}}}


    <script src="app.js"></script>
</body>

</html>
