<!DOCTYPE html>
<html lang="vi">

<head>

    <link href="//bizweb.dktcdn.net/100/393/360/themes/773165/assets/bootstrap_css.scss.css?1615609308223"
        rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="../css/restaurant.css/product-drink.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</head>

<body class="">
    <div class="page-body">
        <div class="opacity_filter"></div>
        <div class="menu-super-bar-wrapper">
            <div class="menu-super-bar">
                <div class="menu-super-bar-border-1">
                    <div class="menu-super-bar-border-2">
                        <div id="content-menu">
                            <div class="menu-data">
                                <h1 class="title">
                                    Sản phẩm nổi bật
                                </h1>
                                <div class="back">

                                    <button onclick="goBack()" style="width: 80px; height: 35px;">
                                        Quay về
                                    </button>

                                </div>
                                <div class="content">

                                    <div class="list-menu">


                                        <div class="menu-item">
                                            <div class="title-price">
                                                <div style="font-size: 15px; text-transform: uppercase;"
                                                    class="item-title text-ellipsis-line-clamp-3 text-uppercase">
                                                    Sangria – Tây Ban Nha

                                                </div>
                                                <div class="item-price">

                                                    <span class="pr">Liên hệ</span>

                                                </div>
                                            </div>
                                            <div style="font-size: 15px;"
                                                class="item-content text-ellipsis-line-clamp-3">
                                                <p>Bacardi Ocho 8 Year, Pedro Ximenez, Chocolate Bitter, Absinthe, Red
                                                    Wine Reduction, Smoke</p>
                                            </div>
                                        </div>


                                        <div class="menu-item">
                                            <div class="title-price">
                                                <div style="font-size: 15px; text-transform: uppercase;"
                                                    class="item-title text-ellipsis-line-clamp-3 text-uppercase">
                                                    Pina Colada – Puerto Rico, Tây Ban Nha

                                                </div>
                                                <div class="item-price">


                                                    <span class="pr">320.000₫</span>
                                                    <span class="opr">360.000₫</span>


                                                </div>
                                            </div>
                                            <div style="font-size: 15px;"
                                                class="item-content text-ellipsis-line-clamp-3">
                                                <p>Tanqueray No.10 infused Rosemary Leave &amp; Pink Peppercorn, Coconut
                                                    Liqueur, Campari, Cranberry Juice, Orange Bitter, ST.Germain Foam
                                                </p>
                                            </div>
                                        </div>



                                        <div class="menu-item">
                                            <div class="title-price">
                                                <div style="font-size: 15px; text-transform: uppercase;"
                                                    class="item-title text-ellipsis-line-clamp-3 text-uppercase">
                                                    Pisco Sour – Peru

                                                </div>
                                                <div class="item-price">


                                                    <span class="pr">280.000₫</span>


                                                </div>
                                            </div>
                                            <div style="font-size: 15px;"
                                                class="item-content text-ellipsis-line-clamp-3">
                                                <p>Don Julio Blanco infused Dried Chili, Dry Fino Sherry, Tamarind,
                                                    Tangerine Juice, Fresh Lime Juice, Ginger Syrup</p>
                                            </div>
                                        </div>



                                        <div class="menu-item">
                                            <div class="title-price">
                                                <div style="font-size: 15px; text-transform: uppercase;"
                                                    class="item-title text-ellipsis-line-clamp-3 text-uppercase">
                                                    Margarita – Mexico

                                                </div>
                                                <div class="item-price">


                                                    <span class="pr">250.000₫</span>


                                                </div>
                                            </div>
                                            <div style="font-size: 15px;"
                                                class="item-content text-ellipsis-line-clamp-3">
                                                <p>Opihr Oriental Spiced London Dry Gin infused Green Pepper Corn,
                                                    Dracontomelon-Ginger Reduction, Fresh Lime, Ginger Beer,
                                                    Dried-Salted Lime</p>
                                            </div>
                                        </div>


                                        <div class="menu-item">
                                            <div class="title-price">
                                                <div style="font-size: 15px; text-transform: uppercase;"
                                                    class="item-title text-ellipsis-line-clamp-3 text-uppercase">
                                                    Mojito – Cuba

                                                </div>
                                                <div class="item-price">


                                                    <span class="pr">235.000₫</span>


                                                </div>
                                            </div>
                                            <div style="font-size: 15px;"
                                                class="item-content text-ellipsis-line-clamp-3">
                                                <p>Johnnie Walker Black Label, Home-made Local Herbal Tea Soda, Fresh
                                                    Lime, Chamomile Foam</p>
                                            </div>
                                        </div>


                                        <div class="menu-item">
                                            <div class="title-price">
                                                <div style="font-size: 15px; text-transform: uppercase;"
                                                    class="item-title text-ellipsis-line-clamp-3 text-uppercase">
                                                    Typica
                                                </div>
                                                <div class="item-price">


                                                    <span class="pr">250.000₫</span>


                                                </div>
                                            </div>
                                            <div style="font-size: 15px;"
                                                class="item-content text-ellipsis-line-clamp-3">
                                                <p>Ciroc Ultra - Premium Vodka, Cointreau, Sweet &amp; Sour Mix, Fresh
                                                    Mandarin Juice, Homemade Hot Spices Puree, Orange Peel Optional:
                                                    Less Spicy - Extra Spicy - Sweet or Sour</p>
                                            </div>
                                        </div>



                                        <div class="menu-item">
                                            <div class="title-price">
                                                <div style="font-size: 15px; text-transform: uppercase;"
                                                    class="item-title text-ellipsis-line-clamp-3 text-uppercase">
                                                    Geisha
                                                </div>
                                                <div class="item-price">


                                                    <span class="pr">235.000₫</span>


                                                </div>
                                            </div>
                                            <div style="font-size: 15px;"
                                                class="item-content text-ellipsis-line-clamp-3">
                                                <p>Grey Goose Premier Vodka, Single Espresso, Bailey’s, Kalua, Vanilla,
                                                    Coffee Bean</p>
                                            </div>
                                        </div>


                                        <div class="menu-item">
                                            <div class="title-price">
                                                <div style="font-size: 15px; text-transform: uppercase;"
                                                    class="item-title text-ellipsis-line-clamp-3 text-uppercase">
                                                    Colombia
                                                </div>
                                                <div class="item-price">


                                                    <span class="pr">215.000₫</span>


                                                </div>
                                            </div>
                                            <div style="font-size: 15px;"
                                                class="item-content text-ellipsis-line-clamp-3">
                                                <p>House Red Wine, Passion Juice, Lychee Puree, Rosemary Leaf, Sprite
                                                </p>
                                            </div>
                                        </div>


                                        <div class="menu-item">
                                            <div class="title-price">
                                                <div style="font-size: 15px; text-transform: uppercase;"
                                                    class="item-title text-ellipsis-line-clamp-3 text-uppercase">
                                                    A VIE EN ROSE
                                                </div>
                                                <div class="item-price">


                                                    <span class="pr">215.000₫</span>


                                                </div>
                                            </div>
                                            <div style="font-size: 15px;"
                                                class="item-content text-ellipsis-line-clamp-3">
                                                <p>House White Wine, Strawberry Puree, Cherry Brandy, Angostura Bitter,
                                                    Fresh Lime, Juice, Apple Juice, Soda</p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</body>

</html>