   <id id="ctn" class="sc">


        <div class="app_restaurant">

            <div class="more-dialog">

                <div class="popup-content">

                    <div id="dialog-close" class="dialog-close">
                        <i class="ti-close"></i>
                    </div>

                    <div class="infor">
                        <p class="title-big">
                            <span>Chương trình khuyến mãi</span>
                        </p>
                    </div>

                    <div class="content">
                        <div class="product">
                            <img src="../content/img/wine.jpg" alt="">
                        </div>

                     

                            <p
                            style="text-align: center;font-size: 16px; line-height: 1.4; color:#000; margin-bottom: 10px;">
                            Mua 3 tặng 1 với các loại rượu mạnh và coktal</p>
                        <p style="text-align: center;font-size: 16px; line-height: 1.4; color:#000;">
                            17:00h - 19:00h các ngày trong tuần
                           </p>
                        
                    </div>
                </div>
            </div>

            <form onsubmit="return false" action="POST">
                <div class="oder-dialog">

                    <div class="popup-content">

                        <div id="oder-dialog" class="dialog-close">
                            <i class="ti-close"></i>
                        </div>

                        <div class="infor">

                            <p style="margin-bottom: 25px;" class="title-big">
                                <span>Đặt lịch hẹn</span>
                            </p>

                            <div class="col-half">
                                <div class="style-form-input">
                                    <input id="hovaten" name="name" required placeholder="Họ và tên" class="style-form-text"
                                        type="text">
                                </div>
                            </div>

                            <div style="float: right;" class="col-half">
                                <div class="style-form-input">
                                    <input id="sodienthoai" name="phone" required placeholder="Số điện thoại" class="style-form-text"
                                        type="text">
                                </div>
                            </div>

                            <div style="float: right;" class="col-half">
                                <div class="style-form-input">
                                    <input id="soban" name="numbertable" required placeholder="Số bàn" class="style-form-text"
                                        type="number">
                                </div>
                            </div>

                            <div style="float: right;" class="time col-half">
                                <div class="time1 style-form-input">
                                    <input placeholder="Thời gian" name="time" class="style-form-text" type="text" required>
                                </div>

                            </div>

                            <div class="col-full">
                                <div style="height: 56px;" class="style-form-input">
                                    <input id="loinhan" name="message" style="height: 56px; margin-top: 15px;" placeholder="Lời nhắn"
                                        class="style-form-text" type="text">
                                </div>
                            </div>

                            <div class="submit col-full">
                                <div style="height: 56px; margin-top: 15px;" class="style-form-input">
                                    <input style="height: 56px; margin-top: 20px; font-size: 15px; font-weight: bold; text-transform: uppercase;color: #fff; background-color: red;
                                border: none;" type="submit" value="Đặt Lịch">
                                </div>
                            </div>


                        </div>


                    </div>

                    <div class="active">

                    </div>


                </div>
            </form>

            <div class="event-dialog">

                <div class="active">

                </div>

                <div class="eight-march popup-content">

                    <div id="close-event1" class="dialog-close">
                        <i class="ti-close"></i>
                    </div>

                    <div class="infor">
                        <p class="title-big">
                            <span>CHÚC MỪNG NGÀY QUỐC TẾ PHỤ NỮ</span>
                        </p>
                    </div>

                    <div class="content">
                        <div class="product">
                            <img src="//bizweb.dktcdn.net/100/393/360/articles/album8.jpg?v=1602426827963" alt="">
                        </div>

                        <!-- <p style="text-align: center;font-size: 15px; line-height: 1.4; color:#000; margin-bottom: 10px;" >Mua 3 tặng 1 với cocktail soda và các loại rượu mạnh</p> -->
                        <p style="text-align: center;font-size: 15px; line-height: 1.5; color:#000;">CHÚC MỪNG NGÀY QUỐC
                            TẾ
                            PHỤ NỮ - Chủ nhật, ngày 8 tháng 3 năm 2020 Chúng tôi có một bất ngờ đặc biệt cho tất cả các
                            quý<!DOCTYPE html>
                            <html lang="en">
                            <head>
                                <meta charset="UTF-8">
                                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                                <title>Document</title>
                            </head>
                            <body>
                                
                            </body>
                            </html>
                            </p>

                    </div>
                </div>

                <div class="party popup-content">

                    <div id="close-event2" class="dialog-close">
                        <i class="ti-close"></i>
                    </div>

                    <div class="infor">
                        <p class="title-big">
                            <span>Bữa tiệc mừng năm mới</span>
                        </p>
                    </div>

                    <div class="content">
                        <div class="product">
                            <img src="//bizweb.dktcdn.net/100/393/360/articles/album4.jpg?v=1602426844357" alt="">
                        </div>

                        <!-- <p style="text-align: center;font-size: 15px; line-height: 1.4; color:#000; margin-bottom: 10px;" >Mua 3 tặng 1 với cocktail soda và các loại rượu mạnh</p> -->
                        <p style="text-align: center;font-size: 15px; line-height: 1.5; color:#000;">Một bữa tiệc ngoài
                            trời
                            Hà Nội, gần hồ Hoàn Kiếm, sông Hồng và các quận lân cận để có một số cảnh quan tuyệt vời
                            nhất
                            trong năm.</p>

                    </div>
                </div>

                <div class="valentine popup-content">

                    <div id="close-event3" class="dialog-close">
                        <i class="ti-close"></i>
                    </div>

                    <div class="infor">
                        <p class="title-big">
                            <span>NGÀY LỄ TÌNH NHÂN VALENTINE</span>
                        </p>
                    </div>

                    <div class="content">
                        <div class="product">
                            <img src="//bizweb.dktcdn.net/100/393/360/articles/album6.jpg?v=1602426858267" alt="">
                        </div>

                        <!-- <p style="text-align: center;font-size: 15px; line-height: 1.4; color:#000; margin-bottom: 10px;" >Mua 3 tặng 1 với cocktail soda và các loại rượu mạnh</p> -->
                        <p style="text-align: center;font-size: 15px; line-height: 1.5; color:#000;">Bữa tiệc VALENTINE
                            Thứ
                            Sáu, ngày 14 tháng 2 năm 2020 * Thực đơn cocktail Valentine đặc biệt
                            Vào cửa MIỄN PHÍ</p>

                    </div>
                </div>

            </div>

            <div class="active">

            </div>

            <div class="list-page">

                <div id="img1" class="bg-image img1  comp-info" data-background="url()">
                    <div class="bg-name">Restaurant</div>

                    <div class="bgdemo bg-selection flex space-between">
                        <div class="width-third selection-contact">

                            <p class="fdesc">Liên hệ</p>

                            <div class="sdesc">
                                <a href="tel:0333270548">0333.270.548</a>
                                <p>Ngách 71 Ngõ Gốc Đề</p>
                            </div>


                        </div>
                        <div class="width-third selection-sale">

                            <p class="fdesc">Ưu đãi</p>

                            <div class="sdesc">
                                <p>Mua 3 tặng một với cocktail soda</p>
                            </div>

                            <button id="more-dialog"
                                style="padding: 9px 48px 8px 58px;border: 1px solid #fff; height: 37px;font-weight: 500;"
                                class="more slt flex common-button button">Xem
                                Thêm
                            </button>


                        </div>
                        <div class="width-third selection-time-open">

                            <p class="fdesc">Giờ mở cửa</p>

                            <div class="sdesc">
                                <p>Tầng 7: 19:30 - 24:00</p>
                                <p>Tầng 3: 13:30 - 21:30</p>
                            </div>


                        </div>
                    </div>


                </div>

                <div id="img2" class="bg-image img2 comp-info" data-background="url()">

                    <div class="box-cont">

                        <p class="c-tit">Giới thiệu</p>

                        <div class="c-cont">
                            <p>Super restaurant là cái tên nói nên tất cả giá trị của địa điểm này một nơi cực chất
                                thuộc quyền sở hữu của tập đoàn MST - BK Group quán
                                Bar nằm ngay trên bờ biển dài tuyệt đẹp tại Scotland đã mang một
                                bản sắc phong cách độc đáo riêng thông qua một số thiết kế lấy cảm hứng từ Châu Á đến
                                Châu Âu. Một không gian rộng và riêng biệt giúp quán bar trông giống như một chiếc giếng
                                trời
                                đầy sự độc đáo. Ba sân thượng nằm ở các góc được chế tác từ gỗ Trầm Hương quý,thêm vào
                                đó kim loại và gỗ
                                được bổ sung bởi một bảng màu đơn sắc gồm đen, xám và các gợi ý của màu của kem. Đầu
                                tiên
                                có quầy bar, nhà bếp mở rộng rãi và khu vực tiếp khách. Tầng một gồm nhiều chỗ ngồi thư
                                giãn kết hợp với tiếng nhạc ru rương mang lại một cảm giác dễ chịu hơn bao giờ hết
                                Trong khi đó tầng thứ hai lại là không gian dành riêng cho những dịp đặc biệt.</p>
                            <p>Là hệ thống F&B hàng đầu tại Scatland, Super restaurant tạo dựng môi trường làm việc
                                chuyên nghiệp,
                                bài bản, luôn chú trọng đào tạo và phát triển nhân sự. Super restaurant là cái nôi nơi
                                những
                                người trẻ học hỏi, phát triển bản thân và tự tin phát triển sự nghiệp. Ở đây, người trẻ
                                của chúng tôi bắt đầu hành trình sự nghiệp từ những bước chân vững chãi đầu tiên.
                            </p>
                            <p>
                                Super Restaurant là đơn vị áp dụng mô hình quản lý theo chuỗi nhà hàng hàng đầu. Super
                                Restaurant hiện sở hữu hơn 25 thương hiệu cùng gần 400 nhà hàng đa phong cách trải dài ,
                                phục vụ 17 triệu lượt khách hàng năm và vẫn đang không ngừng mở rộng.
                                Super restaurant nói riêng và tập đoàn MST - BK Group nói chung đang cố gắng phát triển
                                một cách nhanh chóng và vững vàng nhất

                                Thúc đẩy chất lượng cuộc sống bằng cách trở thành nhóm thương hiệu
                                tăng trưởng nhanh và là một sự lựa chọn hoàn hảo nhất, đầu tiên nhất, chăm sóc khách
                                hàng bằng cái tâm và bằng tất cả sự tâm huyết. MST - BK Group nơi cảm xúc của bạn là
                                động lực để chúng tôi phát triển hơn nữa.
                            </p>
                        </div>

                    </div>


                </div>





                <div id="img3" class="bg-image img3 comp-info" data-background="url()">

                    <div class="box-cont">

                        <div class="box-title">
                            <span>Restaurant hot food Menu</span>
                        </div>

                        <div class="box-body">

                            <div class="list-menu">
                                <div class="menu-item">
                                    <div style="text-transform: uppercase; font-weight: 700;" class="item-title">

                                        COMBO STEAK

                                    </div>
                                    <div class="item-cont">
                                        Sangria là loại cocktail ngon Sangria rất được ưa thích bởi cả người Tây Ban Nha
                                        lẫn
                                        người Bồ Đào Nha. Chữ Sangria xuất phát từ “Sangre”, trong tiếng Tây Ban Nha nó
                                        có
                                        nghĩa là “máu” bởi màu đặc trưng của loại đồ uống này là màu rực đỏ
                                    </div>
                                </div>

                                <div class="menu-item">
                                    <div style="text-transform: uppercase; font-weight: 700;" class="item-title">

                                        WAGYU COMBO 1

                                    </div>
                                    <div class="item-cont">
                                        Pina Colada là loại cocktail ngon có xuất xứ từ Puerto Rico và được xem là
                                        thức-uống-quốc-gia Tây Ban Nha cùng với Sangria.
                                    </div>
                                </div>

                                <div class="menu-item">
                                    <div style="text-transform: uppercase; font-weight: 700;" class="item-title">
                                        WAGYU COMBO 2
                                    </div>
                                    <div class="item-cont">
                                        Pisco Sour với thành phần rượu mạnh Pisco làm từ một loại nho trồng trên đất
                                        Peru từ
                                        khi cả hai quốc gia Chile lẫn Peru là thuộc địa của Tây Ban Nha
                                    </div>
                                </div>

                                <div class="menu-item">
                                    <div style="text-transform: uppercase; font-weight: 700;" class="item-title">
                                        WAGYU COMBO 3

                                    </div>
                                    <div class="item-cont">
                                        Đặc điểm để nhận diện Margarita là viền muối quanh miệng ly làm nên vị mằn mặn
                                        đậm
                                        đà của loại cocktail này.
                                    </div>
                                </div>

                                <div class="menu-item">
                                    <div style="text-transform: uppercase; font-weight: 700;" class="item-title">

                                        COMBO BÒ MỸ


                                    </div>
                                    <div class="item-cont">
                                        Hương vị mát lạnh cộng với chút the nồng của bạc hà và độ chua dịu của chanh
                                        tươi là
                                        sức hút giản dị để mojito trở thành loại cocktail rất được ưa chuộng.
                                    </div>
                                </div>

                                <div class="menu-item">
                                    <div style="text-transform: uppercase; font-weight: 700;" class="item-title">

                                        COMBO HEO IBERICO


                                    </div>
                                    <div class="item-cont">
                                        Thưởng thức Long Island Iced Tea là một nghệ thuật. Người ta ngậm nghe vài giây,
                                        từ
                                        từ nuốt xuống để thong thả thưởng thức cái vị ngọt-cay-đắng-chua thật nồng của
                                        nó…
                                    </div>
                                </div>


                            </div>

                            <button id="hot-bar" style="font-weight: 500;margin-top: 30px; "
                                class="next-page more slt flex common-button button">
                                <a style="width: 100%; height:33px;" href="./hot-bar-menu.html">
                                    <p style="line-height: 33px; border: 1px solid #fff;">XEM CHI TIẾT</p>
                                </a>
                            </button>



                        </div>

                    </div>
                </div>

                <div id="img5" class="bg-image img5 comp-info" data-background="url()">

                    <div class="box-cont">

                        <!-- <p class="c-tit">Giới thiệu</p> -->
                        <div class="box-title">
                            <span>Restaurant hot drink Menu</span>
                        </div>

                        <div class="box-body">

                            <div class="list-menu">
                                <div class="menu-item">
                                    <div style="text-transform: uppercase;" class="item-title">

                                        Sangria – Tây Ban Nha

                                    </div>
                                    <div class="item-cont">
                                        Sangria là loại cocktail ngon Sangria rất được ưa thích bởi cả người Tây Ban Nha
                                        lẫn
                                        người Bồ Đào Nha. Chữ Sangria xuất phát từ “Sangre”, trong tiếng Tây Ban Nha nó
                                        có
                                        nghĩa là “máu” bởi màu đặc trưng của loại đồ uống này là màu rực đỏ
                                    </div>
                                </div>

                                <div class="menu-item">
                                    <div style="text-transform: uppercase;" class="item-title">

                                        Pina Colada – Puerto Rico, Tây Ban Nha

                                    </div>
                                    <div class="item-cont">
                                        Pina Colada là loại cocktail ngon có xuất xứ từ Puerto Rico và được xem là
                                        thức-uống-quốc-gia Tây Ban Nha cùng với Sangria.
                                    </div>
                                </div>

                                <div class="menu-item">
                                    <div style="text-transform: uppercase;" class="item-title">
                                        Pisco Sour – Peru
                                    </div>
                                    <div class="item-cont">
                                        Pisco Sour với thành phần rượu mạnh Pisco làm từ một loại nho trồng trên đất
                                        Peru từ
                                        khi cả hai quốc gia Chile lẫn Peru là thuộc địa của Tây Ban Nha
                                    </div>
                                </div>

                                <div class="menu-item">
                                    <div style="text-transform: uppercase;" class="item-title">
                                        Margarita – Mexico
                                    </div>
                                    <div class="item-cont">
                                        Đặc điểm để nhận diện Margarita là viền muối quanh miệng ly làm nên vị mằn mặn
                                        đậm
                                        đà của loại cocktail này.
                                    </div>
                                </div>

                                <div class="menu-item">
                                    <div style="text-transform: uppercase;" class="item-title">

                                        Mojito – Cuba

                                    </div>
                                    <div class="item-cont">
                                        Hương vị mát lạnh cộng với chút the nồng của bạc hà và độ chua dịu của chanh
                                        tươi là
                                        sức hút giản dị để mojito trở thành loại cocktail rất được ưa chuộng.
                                    </div>
                                </div>

                                <div class="menu-item">
                                    <div style="text-transform: uppercase;" class="item-title">

                                        Long Island Iced Tea

                                    </div>
                                    <div class="item-cont">
                                        Thưởng thức Long Island Iced Tea là một nghệ thuật. Người ta ngậm nghe vài giây,
                                        từ
                                        từ nuốt xuống để thong thả thưởng thức cái vị ngọt-cay-đắng-chua thật nồng của
                                        nó…
                                    </div>
                                </div>

                            </div>

                            <button id="hot-bar" style="font-weight: 500;margin-top: 30px; "
                                class="next-page more slt flex common-button button">
                                <a style="width: 100%; height:33px;" href="./hot-bar-menu.html">
                                    <p style="line-height: 33px; border: 1px solid #fff;">XEM CHI TIẾT</p>
                                </a>
                            </button>


                        </div>




                    </div>


                </div>







                <div id="img6" class="bg-image img6 comp-info" data-background="url()">

                    <div class="flex-col event-content">

                        <div class="event-header">
                            <div class="header-tittle">
                                <span>Tin tức và sự kiện</span>
                            </div>
                        </div>

                        <div class="event-body">
                            <div class=" list-body">

                                <div class="list-item">
                                    <div class="item-cont">
                                        <div class="cont-tittle">Chúc mừng ngày lễ</div>

                                        <div class="cont-img">
                                            <img src="../content/img/event1.jpg" alt="">
                                        </div>

                                        <div class="cont-mess">
                                            CHÚC MỪNG NGÀY QUỐC TẾ PHỤ NỮ - Chủ nhật, ngày 8 tháng 3 năm 2020 Chúng tôi
                                            có
                                            một bất ngờ đặc biệt cho tất cả các quý cô ra khỏi đây vào dịp & ....
                                        </div>

                                        <div id="event1" class="btn-see-more">
                                            <button>xem thêm</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="list-item">
                                    <div class="item-cont">
                                        <div class="cont-tittle">Chúc mừng ngày lễ</div>

                                        <div class="cont-img">
                                            <img src="../content/img/event2.jpg" alt="">
                                        </div>

                                        <div class="cont-mess">
                                            Nâng ly chúc mừng Tết Nguyên đán với một bữa tiệc ngoài trời Hà Nội, gần hồ
                                            Hoàn
                                            Kiếm, sông Hồng và các quận lân cận để có một số cảnh quan tuyệt vời .....
                                        </div>

                                        <div id="event2" class="btn-see-more">
                                            <button>xem thêm</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="list-item">
                                    <div class="item-cont">
                                        <div class="cont-tittle">Chúc mừng ngày lễ</div>

                                        <div class="cont-img">
                                            <img src="../content/img/evetn3.jpg" alt="">
                                        </div>

                                        <div class="cont-mess">
                                            CHÚC MỪNG NGÀY QUỐC TẾ TÌNH NHÂN - Thứ sáu, ngày 14 tháng 2 năm 2020 Chúng
                                            tôi
                                            có một bất ngờ đặc biệt cho tất cả các cặp đôi ra khỏi đây vào ......
                                        </div>

                                        <div id="event3" class="btn-see-more">
                                            <button>xem thêm</button>
                                        </div>
                                    </div>
                                </div>



                            </div>

                        </div>

                    </div>
                </div>


                <div id="img4" class="bg-image img4 comp-info" data-background="url()">

                    <div class="box-cont">
                        <p style="font-size: 17px; text-transform: uppercase; font-weight: 600; margin-bottom: 10px;"
                            class="common-center fix-color-white">Giờ mở cửa</p>
                        <p class="common-center fix-color-white"
                            style="font-size: 17px; font-weight: 600; line-height: 1.5;
                        padding: 10px 0px; margin-bottom: 10px; border-top:1px solid #fff ; border-bottom:1px solid #fff ;">
                            Tầng 7: 19:30 - 24:00
                            <br>
                            Tầng 3: 13:30 - 21:30
                        </p>

                        <p class="common-center fix-color-white"
                            style="font-size:17px; margin-bottom: 15px; line-height: 1.5;">
                            Super Restaurant chuỗi nhà hàng kết hợp với bar cùng không gian tuyệt đẹp, âm nhạc phong phú
                            tạo lên
                            phong
                            cách sang đẹp, lịch sự, gần gũi. Với mạng lưới
                            chuỗi nhà hàng trên khắp thế giới. Được tập đoàn MST - BK Group vận hành và phát triển và
                            tiếp tục mở rộng ra thị
                            trường
                            nước ngoài.
                        </p>

                        <p class="common-center fix-color-white" style="font-size:17px; margin-bottom: 15px;">
                            Địa chỉ: Ngách 71 - Ngõ Gốc Đề - Hoàng Mai - Hà Nội
                        </p>

                        <p class="common-center fix-color-white" style="font-size:17px; line-height: 1.4;">
                            Số điện thoại : <a style="color: #cea225;" href="tel: 0333270548">(+84) 33270548</a>
                        </p>

                        
                        <p class="common-center fix-color-white"
                            style="font-size:17px; line-height: 1.45; padding: 20px 0px;">
                            MST - BK Group! Hãy chill theo cách của bạn
                        </p>
                    </div>

                </div>

                <div>



                </div>


                <div class="navigation">
                    <div class="navigation__content flex-col">

                        <div class="navigation__img flex-col">
                            <a class="common-size" href="/html/index.html">
                                <img class="common-size img-bar" src="../content/img/super-cat2.png" alt="">
                            </a>

                            <div class="desc">
                                <p>Restaurant</p>
                            </div>

                        </div>

                        <div class="content-list flex-col">

                            <a class="fix-decoration" href="#img1">Trang chủ</a>

                            <a style="display: block;" class="fix-decoration" href="#img2">Về chúng tôi</a>

                            <a class="fix-decoration" href="#img3">Thực đơn đồ ăn</a>

                            <!-- <a class="fix-decoration" href="#trang-chu">Khuyến mãi</a> -->

                            <a class="fix-decoration" href="#img5">Thực đơn đồ uống</a>

                            <a class="fix-decoration" href="#img6">Tin tức và sự kiện</a>


                            <a class="fix-decoration" href="#img4">Liên hệ</a>

                        </div>

                        <div class="oder common-center">
                            <button class="common-button button">Đặt ngay</button>

                        </div>

                        <div class="selection-place common-center">

                            <li class="common-button button fix-list slt"><a class="common-button fix-decoration"
                                    href="#trang">
                                    Chọn nhà hàng
                                    <i class="ti-angle-down abc"></i>
                                </a>
                                <ul style="position: relative; z-index: 2;" class="sub-menu">
                                    <li class="common-button button fix-list margin-top-9px"><a
                                            class="common-button fix-decoration" href="/bar">Super Bar</a></li>
                                    <li class="margin-top-none common-button button fix-list"><a
                                            class="common-button fix-decoration" href="/coffee">Sky Coffee</a>
                                    </li>
                                    <li class="margin-top-none common-button button fix-list"><a
                                            class="common-button fix-decoration" href="/restaurant">Restaurant</a>
                                    </li>
                                </ul>
                            </li>

                        </div>

                        <div class="contact">
                            <div class="contact__desc">
                                <p>Liên hệ nhanh</p>
                            </div>

                            <div class="contact__icon flex">
                                <div class="list-icon">
                                    <a href="tel:0333270548">
                                        <img src="//bizweb.dktcdn.net/100/393/360/themes/773165/assets/telephone.png?1615609308223"
                                            alt="">
                                    </a>
                                </div>

                                <div class="list-icon">
                                    <a class="fix-decoration"
                                        href="https://www.facebook.com/profile.php?id=100036668634333">
                                        <!-- <img src="//bizweb.dktcdn.net/100/393/360/themes/773165/assets/messenger.png?1615609308224" alt=""> -->
                                        <i style="font-size: 25px; color: #fff;" class="fix-decoration ti-facebook"></i>
                                    </a>
                                </div>

                                <div class="list-icon">

                                    <a href="https://www.instagram.com/_khanhlee_2006_/">

                                        <i style="font-size: 25px; color: #fff;"
                                            class="fix-decoration ti-instagram"></i>

                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="sp">

                        </div>

                        <div class="coppyright">
                            <p>© Bản quyền thuộc về <a style="color: #fff; font-size: 12px;" class="fix-decoration mst"
                                    href="">MST-BK Group!</a> </p>
                        </div>

                    </div>



                </div>

                <div class="box-sp">

                    <div class="time2 style-form-input">
                        <input id="thoigian" placeholder="Thời gian" class="style-form-text" type="datetime-local"
                            min="2018-01-01" max="2018-12-31" required>
                    </div>

                </div>

                <div class="hotline-phone-ring-wrap">
                    <div class="hotline-phone-ring">
                        <div class="hotline-phone-ring-circle"></div>
                        <div class="hotline-phone-ring-circle-fill"></div>
                        <div class="hotline-phone-ring-img-circle">
                            <a href="tel:0988333069" class="pps-btn-img">
                                <img src="https://nocodebuilding.com/wp-content/uploads/2020/07/icon-call-nh.png"
                                    alt="Gọi điện thoại" width="50">
                            </a>
                        </div>
                    </div>
                    <div class="hotline-bar">
                        <a href="tel:0333270548">
                            <span class="text-hotline">0333 270 548</span>
                        </a>
                    </div>
                </div>





                <script src="app.js"></script>